* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

:root {
  --accent-color: #6a1cc3;
  --accent-color-light: #8849cf;
  --light-color: #4b148a61;
  --second-header-color: #00000099;
  --background-color: #fbfbfb;
  --header-color: #fbfbfb;
}

body {
  background-color: lightgrey;
  margin: 0;
  max-width: 600px;
}

h1 {
  text-transform: uppercase;
  color: var(--header-color);
  font-size: 1rem;
}

h2 {
  color: var(--accent-color);
  text-transform: uppercase;
  margin: 0;
}

h3 {
  color: var(--second-header-color);
}

/**********************************************************/

.hub-container {
  background-color: var(--background-color);
  max-width: 390px;
  display: grid;
  grid-wrap: wrap;
}

.hub-header {
  background-color: var(--accent-color);
  padding: 2rem;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.bi-list {
  color: var(--background-color);
  width: 3.5rem;
  height: 3.5rem;
}

.hub-main {
  background-color: var(--background-color);
  padding: 1.5rem;
}

/****************************************************/
.navigation {
  display: grid;
  margin-bottom: 3rem;
}

.nav-header {
  margin-bottom: 0;
}

.subtitle {
  color: var(--second-header-color);
  margin-top: 0;
}

#form {
  display: gird;
  grid-template-columns: 1fr 1fr;
}

.searchbar {
  grid-column: span 2;
  width: 100%;
}

.selection {
  border: 0.25rem solid var(--accent-color);
  color: var(--accent-color);
  padding: 0.5rem;
}

/**************************************************/

.student-list {
  display: grid;
  gap: 1rem;
}

.student {
  border: 0.25rem solid var(--accent-color);
  padding: 1.5rem;
  box-shadow: 0.25rem 0.25rem var(--accent-color);
  color: var(--accent-color);
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  font-size: 1rem;
  background-color: var(--header-color);
}

.bi-person {
  grid-row: span 2;
  background-color: var(--accent-color-light);
  color: var(--header-color);
  width: 2rem;
  height: 2rem;
  border-radius: 10%;
}

a {
  color: var(--accent-color);
}
